/*顶部样式的设置*/
.top{
    background: #ba2727;
}

.top h3{
    font-size: 23px;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
/*end*/

/*顶部左边的样式设置 商品分类 left*/
.main{
    height: 100%;
    background: #ddd;
    overflow: scroll;
}

.main .left{
    width: 20%;
    float: left;
}
.main .left ul li{
    widows: 100%;
    line-height: 30px;
    border-bottom: solid 1px #bbb;
}

.main .left ul li a{
    width: 100%;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    display: inline-block;
}

.main ul li.cur{
    background: #eee;
}

.main .right{
    background: #eee;
    width: 80%;
    float: right;
    overflow: scroll;
    height: 100%;
    margin-bottom: 40px;
}

.main .product-item{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
}
.main .right .li{
    width: 100%;
    float: left;
}

.main .product-item .product-img{
    width: 100%;
    max-height: 500px;
    display: block;
}

.main .product-item .product-title{
    font-size: 16px;
    font-weight: bold;
}

.main .product-item .product-desc{
    color: #999;
    font-size: 14px;
}

.main .product-item .product-price{
    color: red;
}

.main .product-item .action .p-num{
    border: solid 1px #999;
    width: 30px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

.main .product-item .action .p-btn-car{
    width: 25px;
    height: 25px;
    background: red;
    display: inline-block;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.main .product-item .action{
    float: right;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    background: #fff;
    box-shadow: 0 -2px 2px gray;
}

.footer span{
    float: left;
    line-height: 40px;
    margin-left: 10px;
    font-weight: bold;
}

.footer span em{
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.footer .btn-sure-order{
    float: right;
    background: red;
    text-decoration: none;
    width: 125px;
    height: 38px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
}